<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'svor/style.css' %}" />
     <link rel="shortcut icon" href="{% static 'svor/pangeaicon_2018.ico' %}" />
     <title>Pangea · {{group.school}} – {{group.grade}}. bekkur</title>

 </head>

<body>
<div>
    <h2 align='center'>Pangea 2018 – Niðustöður {{round_nr}}. umferðar</h2>
    <p align='center'>
        <b>{{group.school}} – {{group.grade}}. bekkur</b>
    </p>
    <p>
        Skráið svör þátttakenda í viðeigandi reiti með því að skrifa þann bókstaf
        sem merkt var við í hverri spurningu. Skiljið reiti eftir auða ef svör
        vantar eða ef nemandi tók ekki þátt í keppninni.
    </p>
    <p>
        Geymið niðurstöður þegar búið er að fylla inn svör allra með því að ýta
        á <em>Vista</em> – hnappinn fyrir neðan töfluna. Alltaf má bæta við eða breyta
        skráðum niðurstöðum ef upp kemst um villur í skráningunni. Þá er
        töflunni einfaldlega breytt og niðurstöður vistaðar á sama hátt og áður.
    </p>
    <p>
        Gangið úr skugga um að allir tengiliðir hvers skóla hafi aðgang að
        útfyllingarskjalinu og geti skráð niðurstöður sinna nemenda. Hafið
        samband með tölvupósti á info@pangeakeppni.is ef eitthvað kemur upp á eða ef
        grunur leikur á að rangur hlekkur hafi borist.
    </p>
    <form action="{% url 'svor:save_answers' group.index round_nr %}" method="post">
        {% csrf_token %}
        {% load svor_tags %}

        <table id="nem">
        <tr>
            <th rowspan="2">Nemandi</th>
            <th colspan={{nr_of_questions}}> Spurningar </th>
        </tr>
        <tr>
            {% for question in q_list %}
            <th>{{question}}</th>
            {% endfor %}
        </tr>

        {% for student in student_list %}
        <tr>
            <td class="nafn"> {{ student.name }} </td>
            {% for question in q_list %}
            {% comment %}<td><input type="text" name="Sp_{{question}}_{{student.name}}" maxlength="1" value="{{student.ans1|get_at_index:forloop.counter0}}"> </td>{% endcomment %}
            <td><input type="text" name="Sp_{{question}}_{{student.name}}" maxlength="1" value="{% get_at_index student round_nr forloop.counter0 %}"> </td>
            {% endfor %}
        </tr>

        {% endfor %}

        </table>

        <input type="submit" name="save" value="Vista">
    </form>

</div>
</body>
</html>
