<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'svor/style.css' %}" />
     <title></title>

 </head>

<body>
<div>
    <form action="{% url 'svor:save_answers' group_index round_nr %}" method="post">
        {% csrf_token %}

        <table id="nem">
        <tr>
            <th rowspan="2">Nemandi</th>
            <th colspan={{nr_of_questions}}> Spurningar </th>
        </tr>
        <tr>
            {% for question in q_list %}
            <th>{{question}}</th>
            {% endfor %}
        </tr>

        {% for student in student_list %}
        <tr>
            <td class="nafn"> {{ student.name }} </td>
            {% for question in q_list %}
            <td><input type="text" name= "Sp_{{question}}_{{student.name}}" maxlength="1" > </td>
            {% endfor %}
        </tr>

        {% endfor %}

        </table>

        <input type="submit" name="save" value="Vista">
    </form>

</div>
</body>
</html>
