<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'skraning/style.css' %}" />
    <title>Skráning í Pangeu - Staðfesting</title>
</head>
<body>
<div>
    <h2>Skráning í stærðfræðikeppnina Pangeu 2018</h2>
    <img style='width: 100%; object-fit: contain' src="{% static "skraning/pangealogo_2018.png" %}" alt="My image"/>
    <p>Takk fyrir skráninguna. Póstur hefur verið sendur á netfangið þitt til staðfestingar.
        Ef pósturinn berst ekki, láttu okkur endilega vita með því að senda okkur línu á
        info@pangeakeppni.is.</p>
</div>

</body>
</html>
