<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'skraning/style.css' %}" />
    <title>Skráning í Pangeu - Tengiliðir</title>
</head>
<body>
<div>
    <h2 align='center'>Skráning í stærðfræðikeppnina Pangeu 2018</h2>

    <form enctype='multipart/form-data' action="{% url 'skraning:upload_enrollment_info' %}" method='post'>
      {% csrf_token %}
      <label for="school">Skóli</label>
      <input type="text" name="school" id="school" max_length=200 required>

      <label for="contact">Tengiliður</label>
      <input type="text" name="name" id="contact" max_length=200 required>

      <label for="email">Netfang</label>
      <input type="text" name="email" id="email" max_length=200 required>

      <label for="grade">Bekkur</label>
      <ul style="list-style: none;">
          <li>
          <input type="radio" name="grade" id="8val" value="8" checked>
          <label for="8val">8. bekkur</label>
          </li>
          <li>
          <input type="radio" name="grade" id="8val" value="9">
          <label for="9val">9. bekkur</label>
          </li>
      </ul>

      {% if message == '1' %}
          <button type="button" class="errorwindow">Aðeins er hægt að hlaða inn excel skjölum</button>
      {% endif %}
      {% if message == '2' %}
          <button type="button" class="errorwindow">Mundu að ýta á <em>'Choose File'</em> til að hlaða inn skráningarskjalinu</button>
      {% endif %}
      {% if message == '3' %}
          <button type="button" class="errorwindow">Aðeins er tekið við skjölum sem eru á sama formi og skráningarskjalið
          sem má nálgast hér að ofan. Gakktu úr skugga um að allt sé í lagi og reyndu aftur. Ef ekki tekst
          að hlaða inn skráningarskjalinu skaltu hafa samband í gegnum info@pangeakeppni.is.</button>
      {% endif %}
      {% if message == '4' %}
          <button type="button" class="errorwindow"> Ekki náðist að lesa inn skjalið sem þú hlóðst inn.
          Láttu okkur vita í gegnum info@pangeakeppni.is og við sjáum til þess að nemendurnir þínir verði
          skráðir.</button>
      {% endif %}

      <a href={{excel_path}}> <button type="button" class="button">Sækja skráningarskjal</button> </a>
      <h3>Leiðbeiningar</h3>
      <p>
          Sækið skráningarskjal hér fyrir ofan og skráið nöfn og kennitölur þátttakenda
          í viðeigandi dálka. Þegar því er lokið skal skjalinu hlaðið aftur inn með
          því að velja <em>'Choose File'/'Browse...'</em> og síðan <em>'Áfram'</em>.
          Athugið að aðeins er tekið við skráningarskjölum sem eru sótt eru og fyllt
          út með þessum hætti. Ef spurningar vakna um skráninguna skal hafa samband
          með tölvupósti á netfangið info@pangeakeppni.is.
      </p>
      <p>
          Athugið að margir tengiliðir úr sama skóla geta skráð nemendur í keppnina.
          Við hverja skráningu bætast nemendur við lista fyrrum skráðra þátttakenda
          úr þeim skóla.
      </p>
        <input type='file' name='skradir_nemendur' class="fileContainer">
        <input type='submit' name='Submit' value='Áfram' class="button">

    </form>



</div>
</body>
</html>
