<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'skraning/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'skraning/pangeaicon_2018.ico' %}" />
    <title>Skráning í Pangeu - Tafla</title>
</head>
<body>
<div>
<h2>Skráning í stærðfræðikeppnina Pangeu 2018</h2>
<p>Tengiliður: {{info_temp.contact_name}}</p>
<p>Netfang: {{info_temp.contact_email}}</p>
<p></p>
<p>Þú hefur skráð eftirfarandi nemendur</p>

<table id="nem">
    <tr>
        <th> Nafn </th>
        <th> Kennitala </th>
    </tr>
    {% for student in student_list %}
      <tr>
       <td> {{ student.name }} </td>
       <td> {{ student.kt }} </td>
      </tr>
    {% endfor %}
</table>

<br>

    <form action="{% url 'skraning:send_confirmation' info_temp.index %}" method="post">
        {% csrf_token %}
        <input style="display:inline-block;" type="submit" value="Staðfesta" />
    </form>

    <form  action="{% url 'skraning:enrollment_info' '' %}" method="post">
        {% csrf_token %}
        <input style="background-color: #EF5350; display:inline-block;" type="submit" value="Hætta við" />
    </form>

</div>

</body>
</html>
