<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'skraning/style.css' %}" />
    <title>Skráning í Pangeu - Tafla</title>
</head>
<body>
<div>
<h2>Skráning í stærðfræðikeppnina Pangeu 2018</h2>
<p>Þú hefur skráð eftirfarandi nemendur</p>

<table id="nem">
    <tr>
        <th> Nafn </th>
        <th> Kennitala </th>
    </tr>
    {% for student in student_list %}
      <tr>
       <td> {{ student.name }} </td>
       <td> {{ student.kt }} </td>
      </tr>
    {% endfor %}
</table>

<form action="{% url 'skraning:send_confirmation' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Senda testpóst">
</form>

</div>

</body>
</html>
