<h2>Skráning í stærðfræðikeppnina Pangeu 2017</h2>


<p>Skóli: {{group.school}}</p>
<p>Tengiliður: {{contact.name}}</p>
<p>Netfang: {{contact.email}}</p>
<p>Bekkur: {{group.grade}}. bekkur</p>


<a href='http://127.0.0.1:8000/skraning/download_excel'> <button type="button">Hlaða niður skjali</button> </a>

<p>
    Leiðbeiningar:

    1. MAFS
    2. MÍM
    3. MAM
</p>

<form enctype='multipart/form-data' action="{% url 'skraning:read_excel' contact.id group.id %}" method='post'>
    {% csrf_token %}
    <input type='file' name='skradir_nemendur'>
    <input type='submit' name='Submit'>
</form>

<h1> VITLAUST! </h1>
